<%- include('layout') %>

<h2>Upload a File</h2>
<form class="upload-file" action="/upload" method="POST" enctype="multipart/form-data">
  <div>
    <label for="folderId">Select Folder (Optional):</label>
    <select name="folderId" id="folderId">
      <option value="">No Folder</option> <!-- Add an option for no folder -->
      <% folders.forEach(folder => { %>
        <option value="<%= folder.id %>"><%= folder.name %></option>
      <% }) %>
    </select>
  </div>
  <div>
    <label for="file">Choose a file:</label>
    <input class="browse" type="file" name="file" id="file" required>
  </div>
  <div>
    <button type="submit">Upload</button>
  </div>
  

</form>

<h3>Uploaded Files</h3>
<ul>
  <% files.forEach(file => { %>
    <li>
      <p class="file-column"><strong>Name:</strong> <%= file.name %></p>
      <p class="file-column"><strong>Size:</strong> <%= file.size %> bytes</p>
      <p class="file-column"><strong>Folder:</strong> <%= file.folderId ? file.folderId : 'No Folder' %></p>
      <img class="file-column" src="<%= file.url %>" alt="<%= file.name %>" style="max-width: 200px; max-height: 200px;" />
    </li>
  <% }) %>
</ul>
